$dark-gray: #262626;

h2 {
	strong {
		color: #fff;
		font-weight: 400 !important;
	}
}

.image{
	background: #f2f2f2;
	width: 100%;
	margin-bottom: 20px;

	.left{
		float: left;

		.icon {
			background: $dark-gray url('../img/icon-triangle.png') no-repeat left top;
			display: inline-block;
			width: 55px;
			line-height: 45px;
			color: #fff;
			font-size: 24px;
			text-align: center;
			margin-right: 15px;
			border-left: 1px solid #656565;
			vertical-align: middle;
			margin-right: 15px;
			vertical-align: top;
		}
		h3 {
			display: inline-block;
			vertical-align: top;
			margin: 14px 0 0 0;
		}
	}
	.right {
		float: right;
		margin-top: 8px;
		margin-right: 15px;

		.btn, .btn-second {
			padding: 5px 12px 5px 42px;

			.icon {
				width: 30px;
				height: 25px;
				line-height: 25px;
				font-size: 14px;
			}
		}
		.btn {
			margin-left: 15px;
		}

	}
}