{% extends "::layout.html.twig" %}

{% block title %}Edycja profilu{% endblock %}

{% block content %}
    <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.background, {'attr': {'class': 'color'}}) }}
        <div class="form-group">
            {{ form_label(form.document) }}
            {% if user is defined and user.document is not null %}
                <p>
                    <a href="{{ macros.upload_url(user.document.name) }}" title="{{ user.document.name }}">
                        {{ user.document.name }}
                    </a>
                </p>
            {% endif %}
            {{ form_errors(form.document) }}
            {{ form_widget(form.document) }}
        </div>
        {% if user is defined and user.logo is not null %}
            <a href="{{ macros.upload_url(user.logo.name) }}" title="{{ user.logo.name }}">
                <img src="{{ macros.upload_relative_url(user.logo.name)|imagine_filter('thumbnail') }}">
            </a>
        {% endif %}
        <div class="form-group">
            {{ form_errors(form.logo) }}
            {{ form_label(form.logo) }}
            {{ form_widget(form.logo) }}
        </div>
        <input type="submit" value="Zapisz"
               class="btn btn-success" />
        <a class="btn btn-default" href="{{ path('bilety_admin_dashboard') }}" role="button">Anuluj</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
