<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zrozum życie {{ block('title') }}</title>
    <link rel="icon" href="{{ asset('/favicon.ico') }}" type="image/x-icon" sizes="32x32">
    <meta name="description" content="Opis..."/>
    <meta name="keywords" content="framework, nemethe, słowa, kluczowe"/>
    <meta name="viewport" id="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#fa364e">
    <link rel="icon" sizes="192x192" href="{{ asset('assets/images/logo.png') }}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {{ block('stylesheets') }}
    {{ block('javascripts') }}
</head>
<body>
    {% block body %}
        {% block top %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    {% endblock %}
</body>
</html>
