{% extends "::base.html.twig" %}
{% import ':Macro:common.html.twig' as macros %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% block top %}
        <div id="header" class="row">
            <div class="content">
                <a href="" id="logo">Zrozumżycie.pl</a>
                <div class="header-right">
                    <div class="header-user">
                        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                        <a href="" class="signin">Zaloguj</a>
                        <a href="" class="signup">Załóż konto</a>
                    </div>
                    <div class="header-info">
                        <span class="icon icon-DSLRCamera"></span><div class="header-info-c">dziś dodano <strong>5 fotek</strong></div>
                    </div>
                    <div class="header-info">
                        <span class="icon icon-Users"></span><div class="header-info-c">ludzi online <strong>15</strong></div>
                    </div>
                </div>
            </div>
        </div>
        {% block menu %}
            <div id="nav" class="row">
                <div class="content row">
                    <ul>
                        <li class="active"><a href="">główna</a></li>
                        <li><a href="">top-10</a></li>
                        <li><a href="">kategorie</a></li>
                        <li><a href="">losuj</a></li>
                        <li><a href="">dodaj</a></li>
                        <li><a href="">napisz</a></li>
                    </ul>
                    <input type="text" placeholder="Szukaj"/>
                </div>
            </div>
        {% endblock %}
    {% endblock %}
    <div id="main">
        <div class="content">
            {% block content %}
                <div class="box box-demot">
                    <div class="box-top row">
                        <div class="left">
                            <div class="box-top-title">
                                <span class="icon icon-Picture"></span>
                                <h1>Lorem ipsum dolor sit amet</h1>
                            </div>
                            <div class="demot-meta">
                                <span class="icon icon-Time"></span>
                                <div class="demot-meta-content">Dodano: <strong>17 lutego 2015</strong></div>

                                <span class="icon icon-User"></span>
                                <div class="demot-meta-content">Użytkownik:	<strong><a href="">Anonim</a></strong></div>

                                <span class="icon icon-Star"></span>
                                <div class="demot-meta-content demot-meta-add"><a href="">Dodaj do ulubionych</a></div>
                            </div>
                        </div>
                        <div class="box-demot-vote right">
                            <div class="row">
                                <span class="f-left">Ocena:</span><strong class="plus f-right">+25</strong>
                            </div>
                            <a href="" class="btn-second"><span class="icon icon-Like"></span>Dobre</a>
                            <a href="" class="btn"><span class="icon icon-Dislike"></span>Słabe</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="img/demot.jpg">
                    </div>
                    <div class="box-bottom row">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        <a href="" class="demot-bottom-icon f-left"><span class="icon icon-Message"></span>Kometarze<strong>(13)</strong></a>
                        <a href="" class="demot-bottom-icon f-right"><span class="icon icon-Megaphone"></span>Zgłoś naruszenie!</a>
                    </div>
                </div>

                <div class="box box-demot">
                    <div class="box-top row">
                        <div class="left">
                            <div class="box-top-title">
                                <span class="icon icon-Picture"></span>
                                <h1>Lorem ipsum dolor sit amet</h1>
                            </div>
                            <div class="demot-meta">
                                <span class="icon icon-Time"></span>
                                <div class="demot-meta-content">Dodano: <strong>17 lutego 2015</strong></div>

                                <span class="icon icon-User"></span>
                                <div class="demot-meta-content">Użytkownik:	<strong><a href="">Anonim</a></strong></div>

                                <span class="icon icon-Star"></span>
                                <div class="demot-meta-content demot-meta-add"><a href="">Dodaj do ulubionych</a></div>
                            </div>
                        </div>
                        <div class="box-demot-vote right">
                            <div class="row">
                                <span class="f-left">Ocena:</span><strong class="minus f-right">-25</strong>
                            </div>
                            <a href="" class="btn-second"><span class="icon icon-Like"></span>Dobre</a>
                            <a href="" class="btn"><span class="icon icon-Dislike"></span>Słabe</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <img src="img/demot.jpg">
                    </div>
                    <div class="box-bottom row">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        <a href="" class="demot-bottom-icon f-left"><span class="icon icon-Message"></span>Kometarze<strong>(13)</strong></a>
                        <a href="" class="demot-bottom-icon f-right"><span class="icon icon-Megaphone"></span>Zgłoś naruszenie!</a>
                    </div>
                </div>
                <div class="pager">
                    <a href="" class="pager-prev">Poprzednia</a>
                    <ul>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li>...</li>
                        <li><a href="">10</a></li>
                    </ul>
                    <a href="" class="pager-next">Następna</a>
                </div>
            {% endblock %}
        </div>
    </div>
    {% block bottom %}
        <div id="bottom">
            <div class="content row">
                <ul>
                    <li><a href="">Przeglądaj</a></li>
                    <li><a href="">Wrzuć</a></li>
                    <li><a href="">Zasady</a></li>
                    <li><a href="">Kontakt</a></li>
                </ul>
                <span>zrozumzycie.pl © 2015</span>
            </div>
        </div>
        <div id="footer">
            <div class="content row">
                <span class="icon icon-Info"></span>
                <p>
                    2015 © Wszystkie demotywatory w serwisie są tworzone przez użytkowników serwisu i jego właściciel nie bierze za nie odpowiedzialności. Wszelkie treści należą do ich właścicieli lub są powszechnie dostępne, jeśli uważasz, że któryś wykorzystano bez twojej zgody prześlij link z demotywatorem i powodem, a zostanie zmieniony lub usunięty.
                </p>
                <a href="" class="btn"><span class="icon icon-up"></span>Do góry</a>
            </div>
        </div>
    {% endblock %}
{% endblock %}
