{% import ':Macro:common.html.twig' as macros %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            'assets/bootstrap-3.3.1/dist/css/bootstrap-theme.css'
            'assets/bootstrap-3.3.1/dist/css/bootstrap.css'
            'assets/select2/select2.css'
            'assets/css/dashboard.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
            'assets/js/jquery-2.1.1.min.js'
            'assets/js/scripts.js'
            'assets/js/jscolor/jscolor.js'
            'assets/select2/select2.min.js'
            'assets/bootstrap-3.3.1/dist/js/bootstrap.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
    {% block body %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Włącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('bilety_admin_dashboard') }}">Admin</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="dropdown {{ macros.is_current_route('bilety_admin_user_list') }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Użytkownicy<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('bilety_admin_user_list') }}">Lista użytkowników</a></li>
                                <li><a href="{{ path('bilety_admin_user_create') }}">Nowy użytkownik</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="dropdown {{ macros.is_current_route('bilety_admin_event_list') }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Wydarzenia<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('bilety_admin_event_list') }}">Lista wydarzeń</a></li>
                            </ul>
                        </li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="dropdown {{ macros.is_current_route('bilety_admin_event_users_list') }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Wydarzenia<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('bilety_admin_event_users_list', {'id': app.user.id}) }}">Lista wydarzeń</a>
                                    </li>
                                    <li><a href="{{ path('bilety_admin_event_create') }}">Nowe wydarzenie</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="link">
                                <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="link {{ macros.is_current_route('bilety_admin_user_list') }}">
                                <a href="{{ path('bilety_admin_user_list') }}">Lista użytkowników</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="link {{ macros.is_current_route('bilety_admin_event_list') }}">
                                <a href="{{ path('bilety_admin_event_list') }}">Lista wydarzeń</a>
                            </li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="link {{ macros.is_current_route('bilety_admin_event_users_list') }}">
                                <a href="{{ path('bilety_admin_event_users_list', {'id': app.user.id}) }}">Lista wydarzeń</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="link {{ macros.is_current_route('bilety_admin_profile_edit') }}">
                                <a href="{{ path('bilety_admin_profile_edit') }}">Profil</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="link"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 main">
                    {% block panel_header %}
                        {% include ':Admin/Fragments:flashes.html.twig' %}
                    {% endblock %}
                    {% block panel_content %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ block('title') }}</div>
                            <div class="panel-body">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
