h2 strong {
  color: #fff;
  font-weight: 400 !important; }

.image {
  background: #f2f2f2;
  width: 100%;
  margin-bottom: 20px; }
  .image .left {
    float: left; }
    .image .left .icon {
      background: #262626 url("../img/icon-triangle.png") no-repeat left top;
      display: inline-block;
      width: 55px;
      line-height: 45px;
      color: #fff;
      font-size: 24px;
      text-align: center;
      margin-right: 15px;
      border-left: 1px solid #656565;
      vertical-align: middle;
      margin-right: 15px;
      vertical-align: top; }
    .image .left h3 {
      display: inline-block;
      vertical-align: top;
      margin: 14px 0 0 0; }
  .image .right {
    float: right;
    margin-top: 8px;
    margin-right: 15px; }
    .image .right .btn, .image .right .btn-second {
      padding: 5px 12px 5px 42px; }
      .image .right .btn .icon, .image .right .btn-second .icon {
        width: 30px;
        height: 25px;
        line-height: 25px;
        font-size: 14px; }
    .image .right .btn {
      margin-left: 15px; }

/*# sourceMappingURL=edit.css.map */
