.box-content h2 {
  font-size: 18px;
  color: #ec2329;
  font-weight: 700; }

.box-content hr {
  border: 0;
  border-top: 1px solid #cdcdcd;
  margin: 5px 0 20px 0; }

/*# sourceMappingURL=faq.css.map */
