.box-content{
	padding-right: 0;
	.col-6 {
		text-align: center;
		float: left;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

		&:first-child {
			text-align: left;
			padding-right: 80px;
			border-right: 1px solid #808080;

			small {
				color: #fff;
				display: block;
				text-align: right;
				font-size: 11px;
				margin-top: 5px;
			}
		}
		h2 {
			margin-top: 44px;
		}
	}
	.btn-second {
		font-size: 16px;
		padding: 14px 20px 14px 64px;

		.icon {
			font-size: 24px;
			height: 43px;
			line-height: 43px;
			width: 43px;
		}
	}
	.form-field:nth-child(2) {
		margin-bottom: 0;
	}
}