{% macro is_current_route(route) %}
    {%- if app.request.attributes.get('_route') == route -%}
        {{- 'active' -}}
    {%- endif -%}
{% endmacro %}

{% macro upload_url(file_name) %}
    {{- app.request.basePath ~ '/' ~ uploads_directory ~ '/' ~ file_name -}}
{% endmacro %}

{% macro upload_relative_url(file_name) %}
    {{- uploads_directory ~ '/' ~ file_name -}}
{% endmacro %}