{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Logowanie{% endblock %}

{% block fos_user_content %}
    <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form class="form-signin {% if error %}has-error{% endif %}" action="{{ path("fos_user_security_check") }}" method="POST" novalidate="novalidate">
                <h2 class="form-signin-heading">Logowanie</h2>

                <label class="sr-only" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label class="sr-only" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />

                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>

                <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </form>
    </div> <!-- /container -->
{% endblock %}
