{% extends "::layout.html.twig" %}

{% block title %} | Posty {% endblock %}
{% block content %}
    {% if posts is not empty %}
        {% for post in posts %}
            {% include 'Post/item.html.twig' with {'post': post} %}
        {% endfor %}
        {# @TODO Not implemented yet #}
        <div class="pager">
            <a href="" class="pager-prev">Poprzednia</a>
            <ul>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li>...</li>
                <li><a href="">10</a></li>
            </ul>
            <a href="" class="pager-next">Następna</a>
        </div>
    {% endif %}
{% endblock %}
