{# post \Alakwejk\PortalBundle\Entity\Post #}
<div class="box box-demot">
    <div class="box-top row">
        <div class="left">
            <div class="box-top-title">
                <span class="icon icon-Picture"></span>
                <h1>{{ post.title }}</h1>
            </div>
            <div class="demot-meta">
                <span class="icon icon-Time"></span>
                <div class="demot-meta-content">Dodano: <strong>{{ post.createdAt|localizeddate('full', 'none')  }}</strong></div>

                <span class="icon icon-User"></span>
                <div class="demot-meta-content">
                    Użytkownik:	<strong><a href="{# @TODO Not implemented yet #}">{{ post.user.username }}</a></strong>
                </div>
                <span class="icon icon-Star"></span>
                <div class="demot-meta-content demot-meta-add"><a href="{# @TODO Not implemented yet #}">Dodaj do ulubionych</a></div>
            </div>
        </div>
        <div class="box-demot-vote right">
            <div class="row">
                <span class="f-left">Ocena:</span><strong class="plus f-right">+{{ post.rate }}</strong>
            </div>
            <a href="{# @TODO Not implemented yet #}" class="btn-second"><span class="icon icon-Like"></span>Dobre</a>
            <a href="{# @TODO Not implemented yet #}" class="btn"><span class="icon icon-Dislike"></span>Słabe</a>
        </div>
    </div>
    <div class="box-content">
        {% if post.image is not null %}
            <a href="{{ macros.upload_url(post.image.name) }}" title="{{ post.image.name }}">
                <img src="{{ macros.upload_relative_url(post.image.name)|imagine_filter('post') }}">
            </a>
        {% endif %}
    </div>
    <div class="box-bottom row">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <a href="{# @TODO Not implemented yet #}" class="demot-bottom-icon f-left"><span class="icon icon-Message"></span>Kometarze<strong>(13)</strong></a>
        <a href="{# @TODO Not implemented yet #}" class="demot-bottom-icon f-right"><span class="icon icon-Megaphone"></span>Zgłoś naruszenie!</a>
    </div>
</div>