{% extends ":Admin:layout.html.twig" %}

{% block title %}Edycja wydarzenia{% endblock %}

{% form_theme form _self %}

{% block collection %}
{% endblock %}

{% block _event_type_ticketsPools_widget %}
    <div class="form-group">
        {{ block('collection_widget') }}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="btn btn-default js-add-item">Dodaj pulę biletów</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block tickets_pool_type_row %}
    <div class="js-item bg-warning">
        <div class="form-group{% if form.saleEndDate.vars.errors is not empty %} has-error{% endif %}">
            {{ form_errors(form.saleEndDate) }}
            {{ form_label(form.saleEndDate) }}
            {{ form_widget(form.saleEndDate) }}
        </div>
        <div class="form-group{% if form.price.vars.errors is not empty %} has-error{% endif %}">
            {{ form_errors(form.price) }}
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        <div class="form-group{% if form.number.vars.errors is not empty %} has-error{% endif %}">
            {{ form_errors(form.number) }}
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-danger js-remove-item">Usuń pulę biletów</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {# form \Symfony\Component\Form\FormView #}
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        {% if form.user is defined %}
            {{ form_row(form.user) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.city) }}
        {{ form_row(form.clubName) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.saleStartDate) }}
        {{ form_row(form.published) }}
        {{ form_label(form.ticketsPools) }}
        {{ form_errors(form.ticketsPools) }}
        {{ form_widget(form.ticketsPools) }}
        {% if event is defined and event.poster is not null %}
            <a href="{{ macros.upload_url(event.poster.name) }}" title="{{ event.poster.name }}">
                <img src="{{ macros.upload_relative_url(event.poster.name)|imagine_filter('thumbnail') }}">
            </a>
        {% endif %}
        <div class="form-group">
            {{ form_errors(form.poster) }}
            {{ form_label(form.poster) }}
            {{ form_widget(form.poster) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz"
                   class="btn btn-success" />
            <a class="btn btn-default" href="{{ path('bilety_admin_event_list') }}" role="button">Anuluj</a>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    {% if deleteForm is defined %}
        <div class="col-md-8">
            {{ form_start(deleteForm) }}
            {{ form_widget(deleteForm) }}
            <button type="submit" onclick="return false;" data-toggle="modal" data-target="#myModal" class="btn btn-danger pull-right">Usuń wydarzenie</button>
            {{ form_end(deleteForm) }}
        </div>
    {% endif %}
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Usuń wydarzenie</h4>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć wydarzenie?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Potwierdź</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('/assets/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/tinymce/tinymce_init.js') }}"></script>
{% endblock %}
