{% extends ":Admin:layout.html.twig" %}

{% block title %}Lista wydarzeń{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Klub</th>
                <th>Data rozpoczęcia</th>
                <th>Data rozpoczęcia sprzedaży</th>
                <th>Opublikowany</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if events is not empty %}
            {% set currency = constant('\\Bilety\\ApplicationBundle\\Order\\TotalPriceInterface::CURRENCY') %}
            {% for event in events %}
                {# event \Bilety\ApplicationBundle\Entity\Event #}
                <tr>
                    <td>
                        {% if event is defined and event.poster is not null %}
                            <a href="{{ macros.upload_url(event.poster.name) }}" title="{{ event.poster.name }}">
                                <img src="{{ macros.upload_relative_url(event.poster.name)|imagine_filter('thumbnail_micro') }}">
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.clubName }}</td>
                    <td>{{ event.startDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ event.saleStartDate|date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% set class = event.published ? 'text-success glyphicon glyphicon-ok-circle'
                        : 'text-danger glyphicon glyphicon-ban-circle' %}
                        <span class="{{ class }}"></span>
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('bilety_event_order', {'id': event.id}) }}" role="button">Pokaż</a>
                        <a class="btn btn-success" href="{{ path('bilety_admin_event_edit', {'id': event.id}) }}" role="button">Edytuj</a>
                    </td>
                </tr>
                {% if event.ticketsPools is not empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="7">Pule biletów</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="7">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Pula</th>
                                        <th>Kwota sprzedanych biletów</th>
                                        <th>Kwota prowizji</th>
                                        <th>Liczba biletów</th>
                                        <th>Pozostała liczba biletów</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, ticketPool in event.ticketsPools  %}
                                        <tr>
                                            {# ticketPool \Bilety\ApplicationBundle\Entity\TicketsPool #}
                                            <td>{{ loop.index }}</td>
                                            <td>{{ ticketPool.totalPrice }} {{ currency }} </td>
                                            <td>{{ ticketPool.totalPriceProvision }} {{ currency }} </td>
                                            <td>{{ ticketPool.number }}</td>
                                            <td>{{ ticketPool.numberLeft }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5"><strong>W sumie</strong></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ event.totalPrice }} {{ currency }}</td>
                                        <td>{{ event.totalPriceProvision }} {{ currency }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="btn btn-default" href="{{ path('bilety_admin_ticket_event_list', {'id': event.id}) }}" role="button">Lista biletów</a>
                                        </td>
                                        <td colspan="4"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if total is defined %}
                <tr>
                    <td colspan="2">W sumie od początku</td>
                    <td>{{ total }} {{ currency }}</td>
                    <td colspan="6"></td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
