{% extends ":Admin:layout.html.twig" %}

{% block title %}Lista użytkowników{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {# user \FOS\UserBundle\Model\UserInterface #}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('bilety_admin_event_users_list', {'id': user.id}) }}" role="button">Wydarzenia</a>
                        <a class="btn btn-success" href="{{ path('bilety_admin_user_edit', {'id': user.id}) }}" role="button">Edytuj</a>
                        {#<a class="btn btn-{{ user.enabled ? 'danger' : 'success' }}" href="{{ path('bilety_admin_user_activate', {'id': user.id}) }}" role="button">#}
                            {#{{ user.enabled ? 'Deaktywuj' : 'Aktywuj' }}#}
                        {#</a>#}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
